<div class="form-left-col">
    <label>Id:</label>
    <input id="userId" name="id" type="text" value="<%= id %>" disabled />

    <label>username:</label>
    <input type="text" id="username" name="name" value="<%= username %>" required/>

    <label>domain:</label>
    <input type="text" id="domain" name="domain" value="<%= domain %>"/>

    <label>allowMultipleSessions:</label>
    <input type="text" id="allowMultipleSessions" name="allowMultipleSessions" value="<%= allowMultipleSessions %>"/>
    <label>superUser:</label>
    <input type="text" id="superUser" name="superUser"  value="<%= superUser %>"/>

    <label>lastLogin:</label>
    <input type="text" id="lastLogin" name="lastLogin"  value="<%= lastLogin %>"/>

    <button class="save">Save</button>
 <!--   <button class="delete">Delete</button> -->
</div>


