<td width="90%"><input type="checkbox" class="groupClass"  name="grp1" value=<%= id %> userid=<%= id %> appid=<%= applicationId %> grpid=<%= id %>> <span title="<%= name %>"> <%= description %></span> </td>
<td align="right">  <a href="#users/users/<%= id %>" ><img class="users" src="./pics/users_16x16.png" alt="Users"  title="Users using this group"/></a></td>
<td align="right">  &nbsp;&nbsp;</td>
<td  align="right">  <a href="#users/roles/<%= id %>" ><img class="rules" id="<%= id %>" src="./pics/rules.png" alt="Rules" title="Roles in this group"/></a></td>


