<td>&nbsp;<a href="#users/<%= id %>" >
  <%= username %> </a></td>
   <td> <%= superUser %> </td>
  <td>  <%= domain %></td>
  <td>  <%= locked %></td>
  <td>  <%= retryCount %></td>
  <td>  <%= allowMultipleSessions %></td>
  <td>  <%= lastLogin %></td>
<td align="middle">  <a href="#users/apps/<%= id %>|<%= username %>" ><img style="padding:2px;" id="app_but" class="user_apps" src="./pics/applications.gif" title="Manage Applications"></a></td>
<td align="middle">  <a href="#users/copy/<%= id %>" ><img style="padding:2px;" id="app_copy" class="user_copy" src="./pics/applications_copy.png" title="Copy Applications to User"</a></td>

